/Data
/.ipynb_checkpoints
/MAPS
/Old
/Cython/MAPS
/Cython/Data
hInvestigation/VelocityField_NS_2560_R_2968_P_2048_DV_256_Sd_945986.npy
hInvestigation/kSZ_NS_2560_R_2968_P_2048_DV_256_Sd_945986.npy
hInvestigation/overdensity_NS_2560_R_2968_P_2048_DV_256_Sd_945986.npy
